---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Add the simplified quote section here -->
  <div class="quote">
    "What you don't have you don't need it now. - U2"
  </div>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <div style="display: flex; justify-content: space-between;">
          <span>{{ post.date | date: "%Y-%m-%d" }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
