---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
    <p class="post-tags">
      Categories: <a href="{{ '/categories/#' | append: page.categories[0] | relative_url }}">{{ page.categories | join: ', ' }}</a>
      <br>
      Tags: 
      {%- for tag in page.tags -%}
        <a href="{{ '/tags/#' | append: tag | relative_url }}"> #{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
      {%- endfor -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<nav class="post-navigation">
  <div class="nav-links">
    {%- if page.previous.url -%}
      <div class="nav-previous">
        <a href="{{ page.previous.url | relative_url }}" rel="prev">← {{ page.previous.title }}</a>
      </div>
    {%- endif -%}
    {%- if page.next.url -%}
      <div class="nav-next">
        <a href="{{ page.next.url | relative_url }}" rel="next">{{ page.next.title }} →</a>
      </div>
    {%- endif -%}
  </div>
</nav>
